volumes:
  pgdata:
  pgadmin-data:


services:
  pgdb:
    container_name: pgdb
    image: postgres:15
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "person-data"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    ports:
      - 5432:5432

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - pgdb
    ports:
      - 5050:80
    environment:
      PGADMIN_DEFAULT_EMAIL: "root@root.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
    restart: unless-stopped

  web:
    container_name: web
    build:
      context: .
      dockerfile: DockerFile
    command: npm run dev
    volumes:
      - .:/app
    ports:
      - 3000:3000
    depends_on:
      - pgdb
    env_file:
      - ./.env
  
  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - 6379:6379
